html, body{
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
}

.selectContainer {
	width: 25%;
	margin: 0px auto;
}
.starSelect {
	float: right;
	margin: 0px auto;
}
.businessSelect {
	float: left;
	margin: 0px auto;
}
.date-container {
	width: 25%;
	margin: 0 auto;
}
.date-container.left {
	float: left;
}
.date-container.right {
	float: right;
}
.selectors {
	clear: both;
} 		  
